/* course details */

.container.cardbox-course-details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.cardbox-course-details .card-box {
    width: 80%;
}
.cardbox-course-details .card-box .image {
    width: 100%;
    height: 500px;
}
@media(max-width: 567px){
    .cardbox-course-details .card-box .image {
        height: 300px;
    }
}